@import "@/styles/global.scss";

.homeImage {
  position: relative;
  z-index: 20;
  display: flex;
  justify-content: center;
  img {
    border: 3px solid #fff;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit: cover;
    z-index: 10;
    transition: all 0.6s ease-in-out;
  }
  &:hover {
    img {
      transform: scale(1.05);
    }
  }
}

/* .homeImage:after {
  position: absolute;
  content: "";
  top: 10%;
  left: 0;
  background-color: $md-light-blue;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 50%;
  filter: blur(10px);
} */

.HomeCard {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xl);
  &__socials {
    margin-bottom: var(--gap-sm);
    display: flex;
    justify-content: right;
    gap: var(--gap-xl);
    svg {
      width: var(--icon-size-md);
      height: var(--icon-size-md);
    }
  }
  &__intro {
    width: 100%;

    h2 {
      font-size: var(--text-size-lg);
      display: flex;
      justify-content: center;
      span {
        color: var(--primary-accent-color);
      }
    }
    &__skills {
      min-height: var(--m-xxxl);
      margin-top: var(--gap-lg);
      h1 {
        font-size: var(--text-size-xxl);
        display: flex;
        justify-content: center;
        color: var(--primary-accent-color);
        @media (max-width: $bp-sm) {
          font-size: var(--text-size-xxl);
        }
      }
    }
    p {
      font-size: var(--text-size-md);
      margin-top: var(--gap-lg);
      @media (max-width: $bp-sm) {
        text-align: center;
      }
    }
  }
  &__actions {
    margin-top: var(--gap-xl);
    width: 100%;
    display: flex;
    justify-content: center;
    gap: var(--gap-xl);
    @media (max-width: $bp-sm) {
      font-size: 14px;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: var(--gap-md);
    }
  }
}
